<% include partials/header %>

<h1>This is the Groups page</h1>

<a href="/groups/new">Add New Group</a>

<% groups.forEach( group => { %>
  <div>
    <h4><%= group.name %></h4>
    <img src='<%= group.image %>'>
  </div>
<% }) %>

<% include partials/footer %>
