<% include ../partials/header %>

<div class='container'>
  <header class='jumbotron'>
    <div class="container">
      <h1>Welcome to YelpDND!</h1>
      <p>View D&D groups from all over the world</p>
      <p>
        <a class='btn btn-primary btn-lrg' href="/groups/new">Add New Group</a>
      </p>
    </div>
  </header>

<div class="row text-center" style='display: flex; flex-wrap: wrap;'>
    <% groups.forEach( group => { %>
      <div class='col-md-3 col-sm-6'>
        <div class="thumbnail">
          <img src='<%= group.image %>'>
          <div class="caption">
            <h4><%= group.name %></h4>
          </div>
          <p><a href='/groups/<%= group._id %>' class='btn btn-primary'>More Info</a></p>
        </div>
      </div>
    <% }) %>
  </div>
</div>

<% include ../partials/footer %>
